<a class="list-group-item list-group-item-action">
  <div class="media">
    <p>{{id}}</p>
    <i class="fas {{icon}}" ></i>
    <div class="media-body">
      <p>{{boodschap}}</p>
      <div class="text-muted smaller">{{timestamp}}</div>
    </div>
  </div>
</a>
            <!-- <a class="list-group-item list-group-item-action"> -->
            <!--   <div class="media"> -->
            <!--     <i class="fas fa-clock" ></i> -->
            <!--     <div class="media-body"> -->
            <!--       <p>Wake up alarm in master bedroom</p> -->
            <!--       <div class="text-muted smaller">1 hour ago</div> -->
            <!--     </div> -->
            <!--   </div> -->
            <!-- </a> -->
            <!-- <a class="list-group-item list-group-item-action"> -->
            <!--   <div class="media"> -->
            <!--     <i class="fas fa-bath" ></i> -->
            <!--     <div class="media-body"> -->
            <!--       <p>Bathroom humidity reached threshold</p> -->
            <!--       <div class="text-muted smaller">1 hour ago</div> -->
            <!--     </div> -->
            <!--   </div> -->
            <!-- </a> -->
            <!-- <a class="list-group-item list-group-item-action"> -->
            <!--   <div class="media"> -->
            <!--     <i class="fas fa-key" ></i> -->
            <!--     <div class="media-body"> -->
            <!--       <p>Sam unlocked front door</p> -->
            <!--       <div class="text-muted smaller">1 hour ago</div> -->
            <!--     </div> -->
            <!--   </div> -->
            <!-- </a> -->
            <!-- <a class="list-group-item list-group-item-action"> -->
            <!--   <div class="media"> -->
            <!--     <i class="fas fa-upload" ></i> -->
            <!--     <div class="media-body"> -->
            <!--       <p>Cloud backup completed</p> -->
            <!--       <div class="text-muted smaller">1 hour ago</div> -->
            <!--     </div> -->
            <!--   </div> -->
            <!-- </a> -->
