<div class="content-wrapper">
  <div class="container-fluid">
    <div class='temp'>
      <p class="title">
        {{title}}
      </p>
    
      <div class='inner'>
        <div class='icon'></div>
        <div class="cell">
          <div class='title'>
            <div class='text'>Current</div>
          </div>
          <div class="number">
            {{ temperature }}
          </div>
        </div>
    
        <div class="cell">
          <div class='title'>
            <div class='text'>Target</div>
          </div>
          <div class="number">
            <input type="number" [(ngModel)]="temperature" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
